#banner{
    background-image: url("https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_CatherineFullBody.jpg");
    height: calc(100vh - 56px);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.card-game img{
    height: 21.875rem;
    width: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}