@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

h1 {
  text-align: center;
  margin: 2em 0;
  color: rgb(156, 156, 156);
  font-size: 3em;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  padding: .5em 2em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 5px;
  color: rgb(71, 71, 71);
  font-size: 1.1em;
}

.botao{
  
  display: flex;
  justify-content: end;
}

button{
  padding: 15px;
  margin: 10px 10px;
  border: none;
  background-color: aqua;
  border-radius: 9px;
  color: red;
  font-size: 1.4rem;
  font-weight: bold;

}

.dark{
  background-color: rgb(73, 73, 190);
  color: #FFF;
}

.blue{
  background-color: brown;
  color: #FFF;
}